body {
  background: url("/galaxy.jpg");
}

h1{
  margin: 1px;
  color: white;
}

h3 {
  margin-top: 4px;
  margin-bottom: 3px;
  color: white;
}

#whose-go {
  margin-top: 175px;
}

.container {
  display: flex;
}

.grid-user {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(169, 169, 169, 0.3);
  margin: 10px;
  margin-left: 3px;
}

.grid div {
  width: 40px;
  height: 40px;
}

.grid-computer {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(169, 169, 169, 0.3);
  margin: 10px;
}

.grid-display {
  width: 400px;
  height: 400px;
  margin: 20px;
  background-color: rgba(169, 169, 169, 0.3);
}

.destroyer-container {
  width: 80px;
  height: 40px;
  background-color: rgb(192, 192, 192);
  margin: 10px;
  display: flex;
}
.destroyer-container-vertical {
  width: 40px;
  height: 80px;
  background-color: rgb(192, 192, 192);
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.submarine-container {
  width: 120px;
  height: 40px;
  background-color: rgb(192, 192, 192);
  margin: 10px;
  display: flex;
}

.submarine-container-vertical {
  width: 40px;
  height: 120px;
  background-color: rgb(192, 192, 192);
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.cruiser-container {
  width: 120px;
  height: 40px;
  background-color: rgb(192, 192, 192);
  margin: 10px;
  display: flex;
}

.cruiser-container-vertical {
  width: 40px;
  height: 120px;
  background-color: rgb(192, 192, 192);
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.battleship-container {
  width: 160px;
  height: 40px;
  background-color: rgb(192, 192, 192);
  margin: 10px;
  display: flex;
}

.battleship-container-vertical {
  width: 40px;
  height: 160px;
  background-color: rgb(192, 192, 192);
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}


.carrier-container {
  width: 200px;
  height: 40px;
  background-color: rgb(192, 192, 192);
  margin: 10px;
  display: flex;
}

.carrier-container-vertical {
  width: 40px;
  height: 200px;
  background-color: rgb(192, 192, 192);
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}


.ship div {
  width: 40px;
  height: 40px;
}

.destroyer, .submarine, .cruiser, .battleship, .carrier {
  background-color: rgb(192, 192, 192);
}

.boom {
  background-color: red;
}

.miss {
   background-color: white;
}

.player1, .player2 {
  color: white;
}

.connected, .ready {
  color: white;
  font-weight: normal;
}

.connected span,
.ready span {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: red;
}

span.green {
  background: green;
}